.wrapperMap {
  background-color: white;
  width: 50%;

  @media (max-width: 1000px) {
    width: 100%;
    height: 300px;
  }
  @media (max-height: 500px) {
    width: 100%;
    height: 200px;
  }
}
